.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  height: 14vh;
  width: 100%;
  padding: 20px;

  background-color: #35bcbf;
  font-family: Inter, sans-serif;

  h1 {
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    color: white;

    cursor: pointer;

    font-family: Acumin Pro;
  }

  h1 span {
    color: #90f6d7;
  }

  .items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 10px;
    gap: 25px;
  }

  a {
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
  }
}