<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/public/assets/css/global.css">
    <link rel="stylesheet" href="/public/assets/css/normalize.css">
    <link rel="stylesheet" href="/components/header/index.css">
    <link rel="icon" href="/public/assets/images/icon.png" />

    <title>Header</title>
  </head>
  <body>
    <header class="header">
      <a href="/pages/home/index.html"
        ><h1>Show<span>Pulse</span></h1></a
      >

      <nav class="items">
        <a href="/pages/shows/index.html">Shows</a>
        <a href="/pages/busca/index.html">Buscar</a>
        <a href="/pages/graf/index.html">Análises</a>
        <a href="/pages/contat/index.html">Contato</a>
        <a href="/pages/sobre/index.html">Sobre Nós</a>
      </nav>
    </header>
  </body>
</html>
