html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #41506b;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  height: 14vh;
  width: 100%;
  padding: 20px;

  background-color: #35bcbf;
  font-family: Inter, sans-serif;

  h1 {
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    color: white;

    cursor: pointer;

    font-family: Acumin Pro;
  }

  h1 span {
    color: #90f6d7;
  }

  .items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 10px;
    gap: 25px;
  }

  a {
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
  }
}

.section01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
  margin-bottom: 60px;

  font-family: Inter, sans-serif;

  h1 {
    font-size: 38px;
    color: white;
  }

  .show-card {
    width: 300px;
    border: 1px solid #263849;
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: #263849;
  }

  .show-card img {
    width: 100%;
    max-width: 500px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }

  .show-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #90f6d7;
  }

  .show-card p {
    font-size: 1em;
    margin: 5px 0;
    color: #d1d1d1;
  }

  .show-card .price {
    font-weight: bold;
    color: green;
  }

  .show-card .available-tickets {
    color: red;
  }

  .shows-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 8vh;
  width: 100%;
  padding: 20px;

  background-color: #35bcbf;
  color: white;
  font-family: Inter, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.social-media {
  display: flex;
  gap: 25px;
}

.social-media a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #90f6d7;
}

.footer-copy p {
  font-size: 14px;
  margin: 0;
  text-align: center;

  span {
    color: #90f6d7;
  }
}
